<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>{% block title %}Pokedex{% endblock %}</title>
    <script>
        {% block script %}
        {% endblock %}
    </script>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
